body,html {
  height: 100%;
}


/* website layout */
.topnav {
  text-align: center;
  background-color: rgba(141, 52, 0, 0.5);
  margin: 10vh 10vh 10vh 10vh;
  font-size: 0;
  position: absolute;
  height: 10vh;
  top: 0;
  left: 0;
  width: 90vw;
  border-radius: 1vw 1vw 0 0;
  border-right: 0.2vw solid rgb(206, 101, 2);
}
.maincontent {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.50);
  margin: 20vh 10vh 0 10vh;
  top: 0;
  left: 0;
  position: relative;
  height: 70vh;
  width: 90vw;
  border-radius: 0 0 0.2vw 0.2vw;
  border-right: 0.2vw solid rgb(206, 101, 2);
  border-bottom: 0.2vw solid rgb(206, 101, 2);
}
body {
  margin: 0;
}
.background {
  height: 100%;
  position: relative;
  background-image: url(../img/background.png)
}
h1 {
  font-size: 5vw;
  color: white;
}
p {
  font-size: 2vw;
}

/* homepage css */

.gamebackground img{
  margin: 0.75% 0%;
  position: center;
  width: 60vw;
  height: auto;
  border: 0.2vw solid rgb(206, 101, 2);
  position: relative;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  overflow: hidden;
}

img {
  width: 100%;
}

.car, .car2 {
  z-index: 1;
  margin: auto;
  position: absolute;
  top: 3vh;
  right: 16vw;
  width: 150px;
  /*essential for determining offset*/
  height: 150px;
  /*essential for determining offset*/
}

@keyframes beating {
  to {transform: scale(1.2);}
}

.xspot {
  width: 10.9vw;
  top: 2.4vh;
  left: 15vw;
  position: absolute;
}

.scoreboard {
  position: fixed;
  margin: 10px;
  padding: 10px;
  left: 20vw;
  bottom: 15vh;
  background-color: rgb(206, 101, 2);
}

.scoreboard2 {
  position: fixed;
  margin: 10px;
  padding: 10px;
  right: 20vw;
  bottom: 15vh;
  background-color: rgb(206, 101, 2);
}
.flying{
  transition: width 2s, height 2s, background-color 2s, transform 2s;  
}

.driving{
  transition: width 0.2s, height 0.2s, background-color 0.2s, transform 0.2s;
}